.creativity_wrapper {
    max-width: 100%;
    overflow: hidden;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.general_title {
    text-align: center;
    margin: 10px;
    color: orange;
}
