.general_title {
    margin: 10px auto;
    padding: 7px;
    border-radius: 7px;
    background-color: lightgrey;
    width: max-content;
}
.app_container {
    width: 100%;
    background-color: rgba(105, 105, 105, 0.22);
    min-height: 500px;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.app_item {
    width: 100px;
    height: 140px;
    border-radius:  0 10px 10px 0;
    margin: 10px;
    border-left: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 7px 5px 5px 0 rgba(105, 154, 191, 0.6);
    -moz-box-shadow: 7px 5px 5px 0 rgba(105, 154, 191, 0.6);
    box-shadow: 7px 5px 5px 0 rgba(105, 154, 191, 0.6);
}
.app_item:hover {
    transition-duration: 0.3s;
    transform: skewY(-5deg);
}
.app_item img {
    width: 90%;
    margin: 5%;
    object-fit: contain;
}
.app_item * {
    text-decoration: none;
    padding: 2px;
    color: black;
}
.app_item p {
    text-align: center;
}