.creativity_wrapper {
    background-image: url("../../images/creativeBG.png");
    max-width: 800px;
    overflow: hidden;
    border: 1px solid black;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.general_title {
    text-align: center;
    margin: 10px;
    color: orange;
}