@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
    /*height: 100vh;*/
}
.header {
    width: 100%;
    background-color: dimgray;
    height: 50px;
}
.main {
    max-width: 800px;
    margin: 0 auto;
    min-height: 80vh ;
    /*background-color: lightblue;*/
}
.footer {
    height: 50px;
    background-color: black;
}